@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-8">
        <img class="img-responsive" src="~/Content/images/chuttersnap-597664-unsplash.jpg" />
    </div>
    <div class="clearfix space-under"></div>
    <div>
        <a href="https://unsplash.com/photos/tvHsxfMp8Gw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
            Photo by chuttersnap on Unsplash
        </a>        
    </div>
</div>
