@model ETB310_TennantWebsite.Models.RegistrationConfirmationViewModel

<hr />
<p>Ditt ärende ser ut som följer:</p>
Namn: @Model.Name<br />
Epost: @Model.ContactEmail<br />
Lägenhetsnummer: @Model.FlatNr<br />
Meddelande: @Model.Message
<hr />
