@model ETB310_TennantWebsite.Models.RegistrationConfirmationViewModel
@{
    ViewBag.Title = "Confirmation";
}
<h2>Tack för din registrering!</h2>
<p>Vi har nu tagit emot ditt ärende. Du har fått ärendenummer @Model.CaseNr.</p>

@{
    Html.RenderPartial("_displayServiceCase", Model);
}

<p>Vänliga hälsningar THN-AB.</p>
